<footer class="footer-container">
  <div class="footer-content">
    
    <!-- Coluna 1: Sobre a Loja -->
    <div class="footer-section">
      <h3 class="brand-name">L.D.essence</h3>
      <p>Sua essência, nossa paixão. Os melhores perfumes e cosméticos para marcar os seus melhores momentos.</p>
    </div>



    <!-- Coluna 3: Contato -->
    <div class="footer-section">
      <h4>Atendimento</h4>
     <p>✉️ contato&#64;ldessence.com</p>
      <p>📞 (71) 98782-7312</p>
      <p>📍 Salvador BA</p>
    </div>

  </div>

  <!-- Barra inferior de Copyright -->
  <div class="footer-bottom">
    <p>&copy; 2026 L.D.essence. Todos os direitos reservados.</p>
  </div>
</footer>
