.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 40px 20px;
  background-color: #fcfcfc; /* Fundo levemente off-white */
}

.auth-card {
  background-color: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.04);
  border: 1px solid #ffe3e6;
  text-align: center;
}

.auth-title{
  font-family: serif;
  color: #e88a8a;
}

.auth-img {
    max-height: 100px;
    justify-content: center;
    align-items: baseline;
}

.auth-subtitle {
  color: #7a7a7a;
  font-size: 0.95rem;
  margin-bottom: 30px;
}


.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  color: #5c5c5c;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.form-control {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s;
  box-sizing: border-box; 
}

.form-control:focus {
  outline: none;
  border-color: #e88a8a;
  box-shadow: 0 0 0 3px #ffe3e6;
}


.btn-auth {
  width: 100%;
  padding: 14px;
  background-color: #e88a8a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.btn-auth:hover {
  background-color: #ffb1b1;
}


.auth-links {
  margin-top: 25px;
  font-size: 0.9rem;
  color: #5c5c5c;
}

.auth-links a {
  color: #e88a8a;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.auth-links a:hover {
  color: #ffb1b1;
  text-decoration: underline;
}

.forgot-password {
  display: block;
  text-align: right;
  font-size: 0.85rem;
  margin-top: -10px;
  margin-bottom: 20px;
  color: #7a7a7a;
  text-decoration: none;
}

.forgot-password:hover {
  color: #e88a8a;
}
/* Box da Checkbox da LGPD */
.checkbox-group {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.checkbox-group input[type="checkbox"] {
  margin-top: 3px;
  cursor: pointer;
  accent-color: #e88a8a;
}

.label-checkbox {
  font-size: 0.85rem;
  color: #7a7a7a;
  line-height: 1.4;
  cursor: pointer;
}

.link-termos {
  color: #e88a8a;
  text-decoration: underline;
}


.btn-auth:disabled {
  background-color: #f5cfd2 !important; 
  cursor: not-allowed;
  opacity: 0.8;
}

/* Caixas de Alerta */
.alerta {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  text-align: left;
}

.alerta-erro {
  background-color: #ffebee;
  color: #c62828;
  border: 1px solid #ffcdd2;
}

.alerta-sucesso {
  background-color: #e8f5e9;
  color: #2e7d32;
  border: 1px solid #c8e6c9;
}