.offcanvas {
  width: 260px;
}

.nav-link {
  padding: 12px 20px;
  color: #5c5c5c;
  border-radius: 0;
}

.nav-link:hover {
  background-color: #ffe3e6
}

.nav-link.active {
  background-color: #e88a8a;
  color: #ffffff;
}

.nav-link i {
  font-size: 1.1rem;
}